name: build

on: 
  push:
  pull_request:
  schedule:
    - cron: '30 15 * * *'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}   

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, macos-latest]


    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Setup Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: forte
        environment-file: environment.yml
        channels: conda-forge
        show-channel-urls: true
        python-version: '3.12'
        auto-activate-base: false
        add-pip-as-python-dependency: true

    - name: Compile Forte2
      id: compile-forte2
      run: |
        conda activate forte
        export CMAKE_GENERATOR="Unix Makefiles"
        pip install --no-build-isolation -ve .
        pip list

    - name: Run Forte2 pytest tests
      if: steps.compile-forte2.outcome == 'success' && '!cancelled()'
      run: |
        conda activate forte
        cd $HOME/work/forte2/forte2/tests
        if [ "${{ github.event_name }}" == "schedule" ]; then
          pytest -v --cov --cov-branch --cov-report=xml
        else
          pytest -v -m "not slow" --cov --cov-branch --cov-report=xml
        fi

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}